.header
{
    max-height: 100%;
    background-color: rgb(89, 80, 212);
    margin: 15px;
    font-size : 50px;
    text-align: center;
}

.nav
{
    text-align: center;
    max-height : 100%;
    background-color : black;
    margin : 15px;
    font-size : 50px;
}
.a__nav
{
    text-decoration: none;
    margin : 50px;
    font-size : 50px;
    text-align : center;
    color : lightyellow ;
}
.main
{
    text-align : center;
    max-height : 100%;
    background-color:rgb(168, 10, 168) ;
    margin : 15px;

}
.section
{
    text-align : left;
    max-height : 100%;
    background-color: rgb(218, 65, 218);
    margin : 15px;
    font-size : 50px ;
    margin-left : 20px;
    margin-right : 20px;
    margin-top: 20px;
    margin-bottom : 20px
}
.footer
{
    text-align: center;
    max-height : 100%;
    background-color : burlywood;
    margin : 15px;
    font-size : 50px;
}